footer {
  width: 100%;
  max-width: 100%;
  background-color: #222222;
}

.footer__container {
  position: relative;
  width: 100%;
  height: 70px;
}

.footer__info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Roboto Condensed';
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  color: #ffffffb4;
}

.footer__info::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 88px;
  width: 0;
  height: 1px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.footer__info:hover::before {
  width: 110px;
  background-color: #ffffff;
}

.footer__info a {
  color: #ffffff;
}
