@font-face {
    font-family: "Gotham", sans-serif ;
    src: url(/fonts/GothamPro-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Gotham", sans-serif ;
    src: url(/fonts/Gotham-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Gotham", sans-serif ;
    src: url(/fonts/Gotham-Book.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Gotham", sans-serif ;
    src: url(/fonts/Gotham-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Myriad Pro", sans-serif ;
    src: url(/fonts/MyriadProRegular.ttf);
    font-weight: 300;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');